* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
}

/* Basic labels */
h1 {
    font-size: 34px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
}

/* Containers */
header {
    background: #18273D;
    padding: 0 10px;
    display: flex;
}

main {
    padding: 12px;
    background: linear-gradient(#398689, #69998C);
    bottom: 0;
}

section {
    background: #ffffff;
    /* border: 1px solid #080808; */
    border-radius: 8px;
    min-height: 450px;
    margin: 10px 5%;
    padding: 15px;
}

footer {
    background: #18273D;
    display: flex;
    padding: 12px;
    width: 100%;
    height: 70px;
}

/* Navigation menu */
.logo {
    padding: 5px;
}

.logo-item {
    color: #FEFDFD;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}

.drop-opts{
    display: none;
}

.nav-menu{
    position: absolute;
    padding: 15px;
    right: 10px;
    list-style: none;
}

.nav-menu > li {
    padding: 4px 6px;
    display: inline-block;
}

.nav-sub-menu{
    position: absolute;
    right: 0px;
    padding: 10px;
    list-style: none;
}
.nav-sub-menu > li {
    padding: 4px 6px;
    display: inline-block;
}

.menu-item {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

.menu-item:hover{
    text-decoration: underline;
}

.drop-item {
    min-width: 150px;
}

.drop-item > i{
    font-size: 24px;
    color: #ffffff;
}

.sub-item {
    color: #080808;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

.sub-item:hover {
    text-decoration: underline;
}

.nav-sub {
    background: #ffffff;
    border: 1px solid #708090;
    border-radius: 5px;
    list-style: none;
    float: right;
    display: none;
    position: absolute;
}

.drop-item:hover .nav-sub {
    display: block;
}

.material-icons {
    font-size: 18px;
    color: #ffffff;
}

.nav-sub > li {
    padding: 10px;
    margin-right: 20px;
}

.hide {
    display: inline-block;
}

.hide-item {
    display: none;
}

/*  */

.intro {
    border: none;
    text-align: center;
}

.intro-text {
    font-size: 60px;
    text-align: center;
    margin: 5% 10%;
}

.btn-play {
    border: 1px solid #000000;
    border-radius: 5px;
    background: #dc143c;
    color: #000000;
    font-size: 30px;
    padding: 1px 20px;
    text-decoration: none;
    text-align: center;
}
/* Profile view */

/* Form items */
label {
    text-align: left;
    padding: 5px;
    font-size: 16px;
    font-weight: 600;
}

.btn-small {
    min-width: 40px;
}

.btn-middle {
    min-width: 150px;
}

.btn-big {
    min-width: 250px;
}

.btn-option {
    min-width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    border: 1px solid #000000;
    border-radius: 5px;
    background: #0f6775;
    padding: 5px 10px;
    margin: 5px 5% 5px;
    color: #FEFDFD;
}

input[type=radio], input[type=checkbox] {
    padding: 5px 10px;
    margin: 2px;
    font-size: 14px;
}

select {
    width: 90%;
    padding: 5px 10px;
    margin: 2px 5%;
    font-size: 14px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}

.base-container {
  background-color: #e3eae3;
  padding: 2%;
  border: 1px solid #0f6775;
  border-radius: 3px;
  margin: 1% auto;
  box-shadow: 1px 1px 2px 0px #000000;
}

.login-text {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  padding: 0% 0% 4% 0%;
}

.input-container {
  padding: 1% 0;
  margin: 0% auto;
}

.button-container {
  padding: 2% 0;
  margin: 0% auto;
}

.register-container {
  width: 48%;
  margin: 0;
  display: inline-block;
}

.txt-container {
  text-align: center;
  align-self: center;
}

@media screen and (max-width: 600px) {
    header {
        display: block;
    }

    .hide {
        display: none;
    }

    .logo-item {
        width: auto;
        height: 40px;
        margin-top: 10px;
    }

    .drop-opts{
        display: inline;
        color: #FEFDFD;
        font-size: 24px;
        position: absolute;
        right: 10px;
        margin: 10px 0;
    }

    .nav-menu{
        position: relative;
    }

    .nav-menu > li {
        display: block;
    }

    .nav-sub{
        background: inherit;
        border: none;
        display: block;
        position: inherit;
        float: none;
    }

    .drop-item > i {
        display: none;
    }

    .sub-item {
        color: #ffffff;
    }
}