.profile {
    padding: 10px 15px;
    display: block;
    height: 100%;
    width: 100%;
    border: 1px solid #080808;
    border-radius: 5px;
    background: rgb(255, 255, 255);
}

.info {
    display: flex;
}

.user-inf {
    padding: 10px 20px;
    display: flex;
}

.user-img {
    border: 1px solid #000000;
    border-radius: 5px;
    width: 100%;
    height: 200px;
}
.cont-info {
    padding: 5px 20px;
}

.tlt-nickname {
    font-size: 34px;
}

.txt-email {
    font-size: 18px;
}

.score {
    font-size: 24px;
    text-align: right;
    padding: 5px;
    margin: 10px 0;
    border: 1px solid #000000;
    border-radius: 5px;
    width: 100%;
}

.btn-a {
    text-decoration: none;
    background: #708090;
    color: #FEFDFD;
    padding: 4px 15px;
    margin: 10px 0px;
    border: 1px solid #000000;
    border-radius: 5px;
    float: right;
}

.tlt-friend{
    font-size: 30px;
}

.form-add-friend {
    margin: 20px 10px;
    display: flex;
    float: right;
}

.list-friends {
    background: #DBEAF1;
    border: 1px solid #000000;
    border-radius: 5px;
}

.simpl-text{
    padding: 5px 10px;
    margin: 2px;
    background-color: #FEFDFD;
    color: #080808;
    border-radius: 5px;
}

.friends{
    width: 100%;
    list-style: none;
}

.friend {
    background: #ffffff;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 4px 8px;
    margin: 10px 15px;
    display: flex;
}

.img-frnd{
    min-width: 50px;;
    width: 90%;
    height: 50px;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 2px;
}

.frd-nickname {
    margin: auto;
    font-size: 24px;
    padding: 5px 10px;
}

.btn-actions{
    margin: auto;
}

.frd-actions{
    height: 40px;
    width: 40px;
    float: right;
    padding: auto;
    border-radius: 5px;
}

.tlt-center {
    font-size: 34px;
    text-align: center;
    margin: 10px 0;
}