h1 {
    font-size: 34px;
    padding: 4px 10px;
}

textarea {
    margin: 5px 0;
    border-radius: 5px;
    resize: none;
}

.txt-quest {
    border: 1px solid #000000;
    border-radius: 5px;
    margin: 5px 0;
    padding: 5px;
}

.btn-submit {
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 5px 10px;
    float: right;
}

.tlt-cat{
    background: #18273D;
    border-radius: 10px;
    color: #ffffff;
    text-align: center;
}

.img-cat {
    width: 45px;
    height: 45px;
}

.question {
    padding: 20px 15px 5px;
    text-align: justify;
}