.spinner {
  animation-name: spin;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(1440deg);
  }
}
