.button-1 {
  padding: 3% 6%;
  border: 1px solid #0f6775;
  border-radius: 3px;
  background-color: #4ecdc4;
  color: #000000;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s;
  box-shadow: 1px 1px 2px 0px #000000;
}

.button-1:hover {
  background-color: #1a535c;
  color: #ffffff;
}
