:root {
    --slidebox-color: #444;
    --owl-controls-color: #000000;
    --owl-page-color: #101318;
    --owl-page-active-color: #1fbba6;
}

* {
    box-sizing:border-box;
}

.slideshow-container {
    max-width: 100%;
    margin:auto;
    background-color: var(--slidebox-color);
    padding-bottom: 15px;
}

.slides {
    display: none;
}

.visible {
    display: block;
}

.prev, .next{
    cursor:pointer;
    position:absolute;
    top:50%;
    width:auto;
    margin-top:-22px;
    padding:16px;
    color:white;
    font-weight:bold;
    font-size:18px;
    transition:0.6s ease;
    border-radius:0 3px 3px 0;
}

.next{
    right:0;
    border-radius:3px 0 0 3px;
}

.prev:hover, .next:hover{
    background-color:rgba(0,0,0,0.8);
}

.owl-controls {
    display: block;
    width: 100%;
    margin: 40px 0 0;
    text-align: center;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: var(--owl-controls-color);
}

.owl-controls .owl-page {
    width: 18px;
    height: 18px;
    display: inline-block;
    border-radius: 50%;
    margin: 0 8px;
    background-color: var(--owl-page-color);
    cursor: pointer;
}

.owl-controls .owl-page.active {
    background: var(--owl-page-active-color);
}

.fade {
    -webkit-animation-name:fade;
    -webkit-animation-duration:1.5s;
    animation-name:fade;
    animation-duration:1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity:.4
    }
    to {
        opacity:1
    }
}

@keyframes fade{
    from {
        opacity:.4
    }
    to {
        opacity:1
    }
}
