/* Containers */
header {
    background: #18273D;
    min-height:  12vh;
}

main {
    background: linear-gradient(#398689, #69998C);
    min-height: 77vh;
}

section {
}

footer {
    background: #18273D;
    min-height: 10vh;
}

 /* Classes */

.list-friends {
    background: #DBEAF1;
}

.logo-item{
    margin-left: 10px;
    width: 150px;
}

.base-container {
    background: #DBEAF1;
}
