<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Trivia Crack</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/library.css">
    <link rel="stylesheet" href="../css/grid.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/questions.css">
    <link rel="shortcut icon" href="../favicon.ico">
</head>

<body>
    <header>
        <div class="logo">
            <img src="../img/logo.png" class="logo-item">
        </div>
        <nav>
            <ul class="nav-menu">
                <li><a href="" class="menu-item">How to play</a></li>
                <li><a href="" class="menu-item">Support</a></li>
                <li class="drop-item"><a href="" class="menu-item">Nickname</a>
                    <i class="material-icons md-light">keyboard_arrow_down</i>
                    <ul class="nav-sub">
                        <li><a href="" class="sub-item">Settings</a></li>
                        <li><a href="" class="sub-item">Play</a></li>
                        <li><a href="" class="sub-item">Add Question</a></li>
                        <li><a href="" class="sub-item">Log-out</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <div class="conatiner">
                <div class="box col-12">
                    <h1>Add Question</h1>
                    <form action="" class="container">
                        <label class="box col-12">Question</label>
                        <textarea name="" id="" cols="30" rows="5" class="box col-12 txt-question" placeholder="Write your question."></textarea>
                        <label class="box col-2">Option 1</label>
                        <input type="text" name="" id="" placeholder="Write the first option" class="box col-10 txt-quest">
                        <label class="box col-2">Option 2</label>
                        <input type="text" name="" id="" placeholder="Write the second option" class="box col-10 txt-quest">
                        <label class="box col-2">Option correct</label>
                        <input type="text" name="" id="" placeholder="Write the correct option" class="box col-10 txt-quest">
                        <div class="box col-12">
                            <button type="submit" class="btn-submit">Create</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <nav>
            <ul class="nav-sub-menu">
                <li><a href="" class="menu-item">Contact us</a></li>
                <li><a href="" class="menu-item">Github</a></li>
            </ul>
        </nav>
    </footer>
</body>

</html>
