<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Trivia Crack</title>
  <link rel="stylesheet" href="../css/library.css">
</head>

<body>
  <header>
    <div class="logo">
      <a href="" class="logo-item">Trivia Crack</a>
    </div>
    <nav>
      <ul class="nav-menu">
        <li><a href="" class="menu-item">How to play</a></li>
        <li><a href="" class="menu-item">Support</a></li>
        <li><a href="" class="menu-item">Log-in/Sing-in</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <section>
        <h1>Welcome</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus repellendus rem dignissimos molestias, tempora error quisquam quam tenetur deleniti impedit eum ut, quae quis optio facilis totam. Adipisci, excepturi voluptate.</p>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque autem blanditiis nisi et, dolores aliquid distinctio sit provident dolorem ipsum nam eligendi reprehenderit porro quibusdam aut atque corrupti in dolor.</p>
    </section>
  </main>
  <footer>
    <nav>
        <ul class="nav-sub-menu">
          <li><a href="" class="menu-item">Facebook</a></li>
          <li><a href="" class="menu-item">Github</a></li>
        </ul>
    </nav>
  </footer>
</body>

</html>
