<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Trivia Crack</title>
  <link rel="stylesheet" href="../css/library.css">
</head>

<body>
  <header>
    <div class="logo">
      <a href="">Trivia Crack</a>
    </div>
    <div>
      <ul class="nav-menu">
        <li><a href="">Como jugar</a></li>
        <li><a href="">Soporte</a></li>
        <li><a href="">Login/Sing in</a></li>
      </ul>
    </div>
  </header>
  <main>
    <section>
        <h1>Welcome</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus repellendus rem dignissimos molestias, tempora error quisquam quam tenetur deleniti impedit eum ut, quae quis optio facilis totam. Adipisci, excepturi voluptate.</p>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque autem blanditiis nisi et, dolores aliquid distinctio sit provident dolorem ipsum nam eligendi reprehenderit porro quibusdam aut atque corrupti in dolor.</p>
    </section>
  </main>
  <footer>
    <ul>
      <li><a href="">About us</a></li>
      <li><a href="">Facebook</a></li>
      <li><a href="">Github</a></li>
    </ul>
  </footer>
</body>

</html>
