<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Trivia Crack</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="../css/library.css">
    <link rel="stylesheet" href="../css/grid.css">
    <link rel="stylesheet" href="../css/profile.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="shortcut icon" href="../favicon.ico">
</head>

<body>
    <header>
        <div class="logo">
            <img src="../img/logo.png" class="logo-item">
        </div>
        <nav>
            <ul class="nav-menu">
                <li><a href="" class="menu-item">How to play</a></li>
                <li><a href="" class="menu-item">Support</a></li>
                <li class="drop-item"><a href="" class="menu-item">Nickname</a>
                    <i class="material-icons md-light">keyboard_arrow_down</i>
                    <ul class="nav-sub">
                        <li><a href="" class="sub-item">Settings</a></li>
                        <li><a href="" class="sub-item">Play</a></li>
                        <li><a href="" class="sub-item">Add Question</a></li>
                        <li><a href="" class="sub-item">Log-out</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="profile">
            <div class="container">
                <div class="box col-2">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9b/Antu_im-invisible-user.svg/512px-Antu_im-invisible-user.svg.png"
                        class="user-img">
                </div>
                <div class="box col-7 cont-info">
                    <h1 class="tlt-friend">Nickname</h1>
                    <p class="txt-email">email@gmail.com</p>
                </div>
                <div class="box col-3">
                    <p class="score">99999</p>
                    <a href="" class="btn-a">
                        <label>Add to friends</label>
                    </a>
                </div>
            </div>
            <div class="container list-friends">
                <div class="container box col-12 add-friend">
                    <div class="box col-12">
                        <h1 class="tlt-friend">Friends</h1>
                    </div>
                </div>
                <ul class="container box col-12 friends">
                    <li class="box col-12">
                        <div class="container friend">
                            <div class="box col-1">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9b/Antu_im-invisible-user.svg/512px-Antu_im-invisible-user.svg.png"
                                    class="img-frnd">
                            </div>
                            <div class="box col-11">
                                <p class="frd-nickname">Nickname</p>
                            </div>
                        </div>
                    </li>
                    <li class="box col-12">
                        <div class="container friend">
                            <div class="box col-1">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9b/Antu_im-invisible-user.svg/512px-Antu_im-invisible-user.svg.png"
                                    class="img-frnd">
                            </div>
                            <div class="box col-11">
                                <p class="frd-nickname">Nickname</p>
                            </div>
                        </div>
                    </li>
                    <li class="box col-12">
                        <div class="container friend">
                            <div class="box col-1">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9b/Antu_im-invisible-user.svg/512px-Antu_im-invisible-user.svg.png"
                                    class="img-frnd">
                            </div>
                            <div class="box col-11">
                                <p class="frd-nickname">Nickname</p>
                            </div>
                        </div>
                    </li>
                    <li class="box col-12">
                        <div class="container friend">
                            <div class="box col-1">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9b/Antu_im-invisible-user.svg/512px-Antu_im-invisible-user.svg.png"
                                    class="img-frnd">
                            </div>
                            <div class="box col-11">
                                <p class="frd-nickname">Nickname</p>
                            </div>
                        </div>
                    </li>
                    <li class="box col-12">
                        <div class="container friend">
                            <div class="box col-1">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9b/Antu_im-invisible-user.svg/512px-Antu_im-invisible-user.svg.png"
                                    class="img-frnd">
                            </div>
                            <div class="box col-11">
                                <p class="frd-nickname">Nickname</p>
                            </div>
                        </div>
                    </li>
                    <li class="box col-12">
                        <div class="container friend">
                            <div class="box col-1">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9b/Antu_im-invisible-user.svg/512px-Antu_im-invisible-user.svg.png"
                                    class="img-frnd">
                            </div>
                            <div class="box col-11">
                                <p class="frd-nickname">Nickname</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </main>
    <footer>
        <nav>
            <ul class="nav-sub-menu">
                <li><a href="" class="menu-item">Contact us</a></li>
                <li><a href="" class="menu-item">Github</a></li>
            </ul>
        </nav>
    </footer>
</body>

</html>
