<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Trivia Crack</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/library.css">
    <link rel="stylesheet" href="../css/grid-i.css">
    <link rel="stylesheet" href="../css/profile.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="shortcut icon" href="../favicon.ico">
</head>

<body>
    <header>
        <div class="logo">
            <img src="../img/logo.png" class="logo-item">
            <div class="drop-opts">
                <i id="drop-menu" class="fa fa-bars"></i>
            </div>
        </div>
        <nav>
            <ul id="menu" class="nav-menu hide">
                <li><a href="" class="menu-item">How to play</a></li>
                <li><a href="" class="menu-item">Support</a></li>
                <li><a href="" class="menu-item">Log-in/Sing-in</a></li>
                <li class="drop-item">
                    <a href="" class="menu-item">Nickname</a>
                    <i class="fa fa-caret-down"></i>
                    <ul class="nav-sub">
                        <li><a href="" class="sub-item">Settings</a></li>
                        <li><a href="" class="sub-item">Play</a></li>
                        <li><a href="" class="sub-item">Add Question</a></li>
                        <li><a href="" class="sub-item">Log-out</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <script src="../js/menu.js"></script>
    </header>
    <main>
        <div class="profile">
            <div class="multiple-container">
                <div class="col-2">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9b/Antu_im-invisible-user.svg/512px-Antu_im-invisible-user.svg.png"
                        class="user-img">
                </div>
                <div class="col-7 cont-info">
                    <h1>Nickname</h1>
                    <p class="txt-email">email@gmail.com</p>
                </div>
                <div class="col-3">
                    <p class="score">99999</p>
                    <a href="" class="btn-a">
                        <label>Add to friends</label>
                    </a>
                </div>
            </div>
            <div class="multiple-container list-friends">
                <div class="multiple-container col-12 add-friend">
                    <h1>Friends</h1>
                </div>
                <ul class="multiple-container col-12 friends">
                    <li class="col-12">
                        <div class="multiple-container friend">
                            <div class="col-1">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9b/Antu_im-invisible-user.svg/512px-Antu_im-invisible-user.svg.png"
                                    class="img-frnd">
                            </div>
                            <div class="col-11">
                                <p class="frd-nickname">Nickname</p>
                            </div>
                        </div>
                    </li>
                    <li class="col-12">
                        <div class="multiple-container friend">
                            <div class="col-1">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9b/Antu_im-invisible-user.svg/512px-Antu_im-invisible-user.svg.png"
                                    class="img-frnd">
                            </div>
                            <div class="col-11">
                                <p class="frd-nickname">Nickname</p>
                            </div>
                        </div>
                    </li>
                    <li class="col-12">
                        <div class="multiple-container friend">
                            <div class="col-1">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9b/Antu_im-invisible-user.svg/512px-Antu_im-invisible-user.svg.png"
                                    class="img-frnd">
                            </div>
                            <div class="col-11">
                                <p class="frd-nickname">Nickname</p>
                            </div>
                        </div>
                    </li>
                    <li class="col-12">
                        <div class="multiple-container friend">
                            <div class="col-1">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9b/Antu_im-invisible-user.svg/512px-Antu_im-invisible-user.svg.png"
                                    class="img-frnd">
                            </div>
                            <div class="col-11">
                                <p class="frd-nickname">Nickname</p>
                            </div>
                        </div>
                    </li>
                    <li class="col-12">
                        <div class="multiple-container friend">
                            <div class="col-1">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9b/Antu_im-invisible-user.svg/512px-Antu_im-invisible-user.svg.png"
                                    class="img-frnd">
                            </div>
                            <div class="col-11">
                                <p class="frd-nickname">Nickname</p>
                            </div>
                        </div>
                    </li>
                    <li class="col-12">
                        <div class="multiple-container friend">
                            <div class="col-1">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9b/Antu_im-invisible-user.svg/512px-Antu_im-invisible-user.svg.png"
                                    class="img-frnd">
                            </div>
                            <div class="col-11">
                                <p class="frd-nickname">Nickname</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </main>
    <footer>
        <nav>
            <ul class="nav-sub-menu">
                <li><a href="" class="menu-item">Contact us</a></li>
                <li><a href="" class="menu-item">Github</a></li>
            </ul>
        </nav>
    </footer>
</body>

</html>