<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Trivia Crack Register</title>
    <link rel="stylesheet" href="../css/library.css">
  </head>
  <body>
    <header>
      <div class="logo">
        <a href="" class="logo-item">Trivia Crack</a>
      </div>
      <nav>
        <ul class="nav-menu">
          <li><a href="" class="menu-item">How to play</a></li>
          <li><a href="" class="menu-item">Support</a></li>
          <li><a href="" class="menu-item">Log-in/Sing-in</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <div class="base-container">
        <div class="login-text">
          <h1 class="login-text">Create new account</h1>
        </div>
        <form class="login-form" action="index.html" method="post">
          <div class="input-container">
            <input class="txt-input" type="text" name="username" value="" autocomplete="username" autofocus="1" placeholder="Username">
          </div>
          <div class="input-container">
            <input class="txt-input" type="password" name="password" value="" placeholder="Password">
          </div>
          <div class="input-container">
            <input class="txt-input" type="email" name="email" value="" placeholder="Email">
          </div>
          <div class="button-container register-container">
            <button class="register-button" value="1" type="button" name="register" type="submit">Create</button>
          </div>
          <div class="txt-container half">
            <p>
              or
              <a href="">Log In</a>
            </p>
          </div>
        </form>
      </div>
    </main>
    <footer>
      <nav>
          <ul class="nav-sub-menu">
            <li><a href="" class="menu-item">Facebook</a></li>
            <li><a href="" class="menu-item">Github</a></li>
          </ul>
      </nav>
    </footer>
  </body>
</html>
