<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Category selection</title>
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/library.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/buttons.css">
    <link rel="stylesheet" href="../css/grid-i.css">
    <link rel="stylesheet" href="../css/inputs.css">
    <link rel="stylesheet" href="../css/animations.css">
    <link rel="stylesheet" href="../css/roulette.css">
    <link rel="shortcut icon" href="../favicon.ico">
  </head>
  <body>
    <header>
      <div class="logo">
          <img src="../img/logo.png" class="logo-item">
      </div>
      <nav>
        <ul class="nav-menu">
          <li><a href="" class="menu-item">How to play</a></li>
          <li><a href="" class="menu-item">Support</a></li>
          <li><a href="" class="menu-item">Log-in/Sing-in</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <div class="base-container col-10">
        <div class="centered-container col-6">
          <div class="">
            <h1 class="login-text">Next category</h1>
          </div>
          <div class="roulette-container centered-container">
            <img class="col-12 spinner" src="http://www.triviacrack.com/compiled/img/ruleta.png" alt="">
          </div>
          <div class="button-container centered-container col-3">
            <button class="button-1 col-12" type="button" name="spin">Spin</button>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <nav>
          <ul class="nav-sub-menu">
            <li><a href="" class="menu-item">Facebook</a></li>
            <li><a href="" class="menu-item">Github</a></li>
          </ul>
      </nav>
    </footer>
  </body>
</html>
