<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <title>Trivia Crack</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- build:css -->
    <link rel="stylesheet" href="../../css/normalize.css">
    <link rel="stylesheet" href="../../css/library.css">
    <link rel="stylesheet" href="../../css/grid.css">
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="../../css/admin.css">
    <link rel="shortcut icon" href="../../favicon.ico">
  <!-- endbuild -->
  <!-- build:js -->
    <script src="../../js/menu-admin.js"></script>
  <!-- endbuild -->
</head>

<body>
    {{>menu}}
    <main>
        <div class="container">
            {{>menuAdmin}}
            <div class="col-1"></div>
            <section class="col-9 container">
                <h1>Users</h1>
                <hr/>
                <div>
                    <a href="create.html" class="btn-add">
                        <i class="material-icons">add</i>
                        <label>user</label>
                    </a>
                </div>
                <div class="col-12 datagrid">
                    <table>
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>NICKNAME</th>
                                <th>EMAIL</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <td colspan="4">
                                    <div id="paging">
                                        <ul>
                                            <li><a href="#"><span></span></a></li>
                                            <li><a href="#" class="active"><span>1</span></a></li>
                                            <li><a href="#"><span>2</span></a></li>
                                            <li><a href="#"><span>3</span></a></li>
                                            <li><a href="#"><span>4</span></a></li>
                                            <li><a href="#"><span>5</span></a></li>
                                            <li><a href="#"><span>>></span></a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                        <tbody>
                                <tr>
                                    <td><a href="show.html" class="btn-a">1</a></td>
                                    <td>data</td>
                                    <td>data</td>
                                </tr>
                                <tr class="alt">
                                    <td>data</td>
                                    <td>data</td>
                                    <td>data</td>
                                </tr>
                                <tr>
                                    <td>data</td>
                                    <td>data</td>
                                    <td>data</td>
                                </tr>
                                <tr class="alt">
                                    <td>data</td>
                                    <td>data</td>
                                    <td>data</td>
                                </tr>
                                <tr>
                                    <td>data</td>
                                    <td>data</td>
                                    <td>data</td>
                                </tr>
                                <tr class="alt">
                                    <td>data</td>
                                    <td>data</td>
                                    <td>data</td>
                                </tr>
                                <tr>
                                    <td>data</td>
                                    <td>data</td>
                                    <td>data</td>
                                </tr>
                                <tr class="alt">
                                    <td>data</td>
                                    <td>data</td>
                                    <td>data</td>
                                </tr>
                                <tr>
                                    <td>data</td>
                                    <td>data</td>
                                    <td>data</td>
                                </tr>
                                <tr class="alt">
                                    <td>data</td>
                                    <td>data</td>
                                    <td>data</td>
                                </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </main>
    <footer>
        <nav>
            <ul class="nav-sub-menu">
                <li><a href="" class="menu-item">Contact us</a></li>
                <li><a href="" class="menu-item">Github</a></li>
            </ul>
        </nav>
    </footer>
</body>

</html>
