<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>Trivia Crack</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../../css/normalize.css">
    <link rel="stylesheet" href="../../css/library.css">
    <link rel="stylesheet" href="../../css/grid.css">
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="../../css/admin.css">
    <link rel="shortcut icon" href="../../favicon.ico">
</head>

<body>
    <header>
      <div class="logo">
          <img src="../../img/logo.png" class="logo-item">
          <div class="drop-opts">
              <i id="drop-menu" class="fa fa-bars"></i>
          </div>
      </div>
      <nav>
          <ul id="menu" class="nav-menu hide">
              <li><a href="" class="menu-item">How to play</a></li>
              <li><a href="" class="menu-item">Support</a></li>
              <li><a href="" class="menu-item">Log-in/Sing-in</a></li>
              <li class="drop-item">
                  <a href="" class="menu-item">Nickname</a>
                  <i class="fa fa-caret-down"></i>
                  <ul class="nav-sub">
                      <li><a href="" class="sub-item">Settings</a></li>
                      <li><a href="" class="sub-item">Approved Question</a></li>
                      <li><a href="" class="sub-item">Log-out</a></li>
                  </ul>
              </li>
          </ul>
      </nav>
    </header>
    <main>
        <div class="container">
            <div class="col-2 menu-admin">
                <ul class="menu-admin col-12">
                    <li><a href="../users/index.html">Users</a></li>
                    <li><a href="../games/index.html">Games</a></li>
                    <li><a href="../questions/index.html">Questions</a></li>
                    <li><a href="../categories/index.html">Categories</a></li>
                </ul>
            </div>
            <div class="col-1"></div>
            <section class="col-8 container">
                <div class="col-12">
                    <h1>Edit Category</h1>
                    <hr/>
                    <form class="form-admin"  action="show.html" method="post">
                      <div class="input">
                        <label>Name</label>
                        <input type="text" name="name" value="Category" autofocus="1" placeholder="category's name">
                      </div>
                      <div class="input">
                        <label>Color</label>
                        <input type="text" name="color" value="Color" autofocus="1" placeholder="category's color">
                      </div>
                      <div class="input">
                        <label>Icon</label>
                        <input type="file" name="icon" />
                      </div>
                      <div class="input">
                        <button value="1" type="button" name="update" type="submit">Update</button>
                      </div>
                    </form>
                </div>
            </section>
        </div>
    </main>
    <footer>
        <nav>
            <ul class="nav-sub-menu">
                <li><a href="" class="menu-item">Contact us</a></li>
                <li><a href="" class="menu-item">Github</a></li>
            </ul>
        </nav>
    </footer>
</body>

</html>
