<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <title>Trivia Crack Log In</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- build:css -->
  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="../css/library.css">
  <link rel="stylesheet" href="../css/buttons.css">
  <link rel="stylesheet" href="../css/grid.css">
  <link rel="stylesheet" href="../css/inputs.css">
  <!-- endbuild -->
  <link rel="shortcut icon" href="../favicon.ico">
</head>

<body>
  {{>menu}}
  <main>
    <div class="base-container col-4">
      <div class="login-text">
        <h1 class="login-text">Log In</h1>
      </div>
      <form class="login-form" action="index.html" method="post">
        <div class="input-container">
          <input class="txt-input col-12" type="text" name="username" value="" autocomplete="username" autofocus="1"
            placeholder="Username">
        </div>
        <div class="input-container">
          <input class="txt-input col-12" type="password" name="password" value="" placeholder="Password">
        </div>
        <div class="button-container">
          <a href="#">
            <button class="button-1 col-12" value="1" type="button" name="login" type="submit">Log In</button>
          </a>
        </div>
      </form>
      <div class="txt-container">
        <a id="forgot-password-link" href="">Forgot your password?</a>
      </div>
    </div>
    <div class="base-container col-4">
      <div class="txt-container">
        <p>
          New to Trivia Crack?
          <a href="">Sign up</a>
        </p>
      </div>
    </div>
  </main>
  <footer>
    <nav>
      <ul class="nav-sub-menu">
        <li class="menu-item"><a href="">Facebook</a></li>
        <li class="menu-item"><a href="">Github</a></li>
      </ul>
    </nav>
  </footer>
</body>

</html>