<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>Trivia Crack</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/library.css">
    <link rel="stylesheet" href="../css/grid.css">
    <link rel="stylesheet" href="../css/profile.css">
    <link rel="stylesheet" href="../css/buttons.css">
    <link rel="stylesheet" href="../css/inputs.css">
    <link rel="shortcut icon" href="../favicon.ico">
</head>

<body>
    <header>
        <div class="logo">
            <a href="">
                <img src="../img/logo.png" class="logo-item">
            </a>
            <div class="drop-opts">
                <i id="drop-menu" class="fa fa-bars"></i>
            </div>
        </div>
        <nav>
            <ul id="menu" class="nav-menu hide">
                <li class="menu-item"><a href="">How to play</a></li>
                <li class="menu-item"><a href="">Support</a></li>
                <li class="menu-item"><a href="">Log-in/Sing-in</a></li>
                <li class="drop-item menu-item">
                    <a href="">Nickname <i class="fa fa-caret-down"></i></a>
                    <ul class="nav-sub">
                        <li class="sub-item"><a href="">Settings</a></li>
                        <li class="sub-item"><a href="">Play</a></li>
                        <li class="sub-item"><a href="">Add Question</a></li>
                        <li class="sub-item"><a href="">Log-out</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <script src="../js/menu.js"></script>
    </header>
    <main>
        <div class="base-container">
            <div class="multiple-container cont-data">
                <div class="col-2 div-img">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9b/Antu_im-invisible-user.svg/512px-Antu_im-invisible-user.svg.png"
                        class="user-img">
                </div>
                <div class="col-10 cont-info">
                    <h1>Nickname</h1>
                    <h3>email@gmail.com</h3>
                    <p class="score">99999</p>
                    <a href="" class="btn-a">
                        <label> add to friends</label>
                    </a>
                </div>
            </div>
            <div class="multiple-container list-friends">
                <div class="multiple-container col-12">
                    <div class="col-9">
                        <h1>Friends</h1>
                    </div>
                </div>
                <ul class="multiple-container col-12 friends">
                    <li class="col-12">
                        <div class="multiple-container friend">
                            <div class="col-1">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9b/Antu_im-invisible-user.svg/512px-Antu_im-invisible-user.svg.png"
                                    class="img-frnd">
                            </div>
                            <div class="col-8">
                                <p class="frd-nickname">Nickname</p>
                            </div>
                        </div>
                    </li>
                    <li class="col-12">
                        <div class="multiple-container friend">
                            <div class="col-1">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9b/Antu_im-invisible-user.svg/512px-Antu_im-invisible-user.svg.png"
                                    class="img-frnd">
                            </div>
                            <div class="col-8">
                                <p class="frd-nickname">Nickname</p>
                            </div>
                        </div>
                    </li>
                    <li class="col-12">
                        <div class="multiple-container friend">
                            <div class="col-1">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9b/Antu_im-invisible-user.svg/512px-Antu_im-invisible-user.svg.png"
                                    class="img-frnd">
                            </div>
                            <div class="col-8">
                                <p class="frd-nickname">Nickname</p>
                            </div>
                        </div>
                    </li>
                    <li class="col-12">
                        <div class="multiple-container friend">
                            <div class="col-1">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9b/Antu_im-invisible-user.svg/512px-Antu_im-invisible-user.svg.png"
                                    class="img-frnd">
                            </div>
                            <div class="col-8">
                                <p class="frd-nickname">Nickname</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </main>
    <footer>
        <nav>
            <ul class="nav-sub-menu">
                <li class="menu-item"><a href="">Contact us</a></li>
                <li class="menu-item"><a href="">Github</a></li>
            </ul>
        </nav>
    </footer>
</body>

</html>