<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>Trivia Crack</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- build:css -->
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/library.css">
    <link rel="stylesheet" href="../css/grid.css">
    <link rel="stylesheet" href="../css/buttons.css">
    <link rel="stylesheet" href="../css/questions.css">
    <!-- endbuild -->
    <link rel="shortcut icon" href="../favicon.ico">
    <!-- build:js -->
    <script src="../js/principal.js"></script>
    <!-- endbuild -->
</head>

<body>
    {{>menu}}
    <main>
        <section class="base-container">
            <div class="multiple-container">
                <div class="col-12">
                    <div class="multiple-container tlt-cat">
                        <img src="https://vignette.wikia.nocookie.net/es.pokemon/images/2/2c/Pok%C3%A9mon_Jukebox_icono.png/revision/latest?cb=20150624132304"
                            class="col-1 img-cat">
                        <div class="col-11">
                            <h1>Category</h1>
                        </div>
                    </div>
                    <div class="question">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel consequuntur quibusdam et animi
                            laboriosam dolore adipisci vero facilis quos quis, sint quam, mollitia fugit fuga veniam
                            nam esse, quas architecto.</p>
                        <form action="">
                            <button class="btn-option">
                                Python
                            </button>
                            <button class="btn-option">
                                Java
                            </button>
                            <button class="btn-option">
                                C++
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>
    {{>footer}}
</body>

</html>