<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <title>Category selection</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- build:css -->
  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="../css/library.css">
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/buttons.css">
  <link rel="stylesheet" href="../css/grid.css">
  <link rel="stylesheet" href="../css/inputs.css">
  <link rel="stylesheet" href="../css/animations.css">
  <link rel="stylesheet" href="../css/roulette.css">
  <!-- endbuild -->
  <link rel="shortcut icon" href="../favicon.ico">
  <!-- build:js -->
  <script src="../js/principal.js"></script>
  <!-- endbuild -->
</head>

<body>
  {{>menu}}
  <main>
    <div class="base-container col-10">
      <div class="centered-container col-6">
        <div class="tlt-center">
          <h1>Next category</h1>
        </div>
        <div class="roulette-container">
          <div class="col-4 centered-container">
            <img class="col-12 spinner" src="http://www.triviacrack.com/compiled/img/ruleta.png" alt="">
          </div>
        </div>
        <div class="button-container centered-container col-3">
          <button class="button-1 col-12" type="button" name="spin">Spin</button>
        </div>
      </div>
    </div>
  </main>
  {{>footer}}
</body>

</html>